.about {
  margin-top:3.0625rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & div.about-container{
    background-color: #F0F2ED;
    display: flex;
    flex-direction: column;
    max-width: 25.5625rem;
    width: 100%;
    align-items: center;
    border-radius: 2rem;
    position: relative;
    height: 41.1875rem ;
    
    & header{
      margin-top: 3.3125rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.625rem;
      & h2{
        text-align:center;
        line-height: 1;
        color: var(--color-primary);
        font-size: 3rem;
        width: 16rem;
        font-family: var(--ff-primary);
       }

       & p{
        color: var(--color-primary);
        font-family: var(--ff-primary);
        text-align:center;
        font-size: 1.5rem;
        font-weight: 550;
        width: 10rem;
        line-height: 1;
       }
    }
  }
  
  & div.overflow{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15.0625rem;

    & img{
      display: block;
      width: 17.4375rem;
    }

    & h2 {
      margin-top: 2.125rem;
      color: #322D2A;
      font-size: 1.724375rem;
      width: 20.3125rem;
      font-family: var(--ff-primary);
      font-weight: 500;
      line-height: 1.3;
      text-align: center;
      letter-spacing: -0.413793px;

      & strong{
        color: #E8A728;
        font-weight: 500;
      }
    }

    & p{
      font-size: 1.125rem;
      color: #7D7A78;
      font-family: "Inter";
      line-height: 1.3;
      letter-spacing: 0.6px;
      max-width: 20.375rem;
      margin-top: .5rem;
      text-align: center;
      font-weight: 500;
    }
  }

  & .dogs-about {
    position: relative;
    max-width: 23.875rem;
    margin-top: 21rem;
    background-color: #F0F2ED;
    border-radius: 1.25rem;
    height: 32.6875rem;

    & header{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.625rem;

      & h2{
        font-size: 2.35555625rem;
        color: var(--color-secondary);
        line-height: 1.2;
      }
      & p{
        font-size: 0.7125rem;
        width: 20.3125rem;
        text-align: center;
        line-height: 1.5;
        font-family: var(--ff-primary);
      }
    }

    & .buttons-wrapper{
      margin-top: 1rem;
    }

    & img[src*="dog-jump"]{
      width: 23.625rem;

      margin-top: 0.6875rem;
    }

    & img[src*="spot"]{
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom-left-radius: 1.25rem;
    }
  }

  & .dog-mail{
    margin-top: 0.6875rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img{
      width: 25.659375rem;
      max-height: 21.875rem;
    }
  }
}


@media (width >= 123.75rem){
  .about{
    display: grid;
    grid-template-columns: 27.85875rem 1fr 1fr;
    justify-self: center;
    max-width: 95.875rem;
    width: 100%;
    align-items: initial;
    gap: 1.25rem;

   & p.only-desktop {
    align-self: center;
    width: 100%;
    font-size: 2.275rem;
    color: #003459;
    font-family: var(--ff-primary);
    margin-bottom: .5rem;
   }

   & div.about-container{
    grid-column: 1/4;
    grid-row: 2;
    max-width: 94rem;
    padding: 4.476875rem 2.5rem 2.5rem;
    overflow: hidden;
    height: 34rem;

    & header{
      margin-top: 0;
      gap: 6.351875rem;
      align-self: flex-start;
      width: 40rem;
      align-items: flex-start;

      & h2{
        text-align: initial;
        font-size: 4.3125rem;
        width: 22.75rem;
      }

    }
    & div.overflow{
      position: initial;
      align-self: flex-start;
      align-items: flex-start;
      margin-top: 5.375rem;
      width: 38.8575rem;

      & img{
        position: absolute;
        display: block;
        width: 27.6875rem;
        top: 1.601875rem;
        right: 11.2925rem;
      }

      & h2, & p{
        text-align: initial;
      }

      & h2 {
        font-size: 2rem;
        width: fit-content;
      }

      & p {
        font-size: 1.4625rem;
        max-width: 38.8575rem;
      }
    }
   }

    & .dog-mail, .dog-jump{
      grid-row: 3;
      margin-top: 0;
    }
    & .dog-jump {
     grid-column: 1/2;
     max-width: 27.85875rem;
     width: 100%;
    }
    
    & .dog-mail {
      grid-column: 2/4;
      max-width: 65rem;
      width: 100%;
    }

  }
}