:root{
  --bg-color: #F0F2ED;
  --color-primary: #15294B; 
  --color-secondary: #003459;
  --text-color-primary: #242B33;
  --text-color-secondary: #7D7A78;
  --ff-primary: serif;
  --ff-secondary: "Inter", sans-serif;
}

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 25.875rem 1fr;
}