section {
  grid-column: 2;

  &.hero {
    margin-top: 1.25rem;
    & header {
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: .6875rem;

       & h1{
        line-height: 1;
        color: var(--color-primary);
        font-size: 3rem;
        width: 17.75rem;
        font-family: var(--ff-primary);
       }

       & p{
        color: var(--color-primary);
        font-family: var(--ff-primary);
        text-align:center;
        font-size: 1.35rem;
        font-weight: 550;
        width: 16rem;
        line-height: 1;
       }
    }

    & > img {
      margin-top: 1rem;
    }
  }
}