.register {
  background-color: #F0F2ED;
  padding: 2.5rem 1rem 0;
  border-radius: 1rem;

  & form {
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 0.875rem;

    & label {
      display: block;
      font-family: var(--ff-primary);
      font-size: 1.25rem;
      font-weight: 550;
      color: #FDFDFD;
      line-height: 2rem;
      width: 21.875rem;
    }

    & .input-wrapper {
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: .75rem;
      background-color: #FFFFFF;
      padding: .75rem;
      border-radius: .875rem;

      & button,
      input {
        display: inline-block;
        font-family: var(--ff-primary);
        padding: 0.875rem 1.75rem;
        border: 1px solid #99A2A5;
        color: var(--color-secondary);
        border-radius: .5rem;
      }

      & button {
        background-color: var(--color-secondary);
        border: none;
        color: #FDFDFD;
        line-height: 1.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}

@media(width >=123.75rem) {
  section.register {
    background-color: #15294B;
    padding: 6.25rem 3.75rem;
    display: flex;

    & form {
      background-color: transparent;
      width: 56.4375rem;
      
      & label {
        
      }

      & div.input-wrapper {
        flex-direction: row;
        background-color: transparent;
        width: 100%;
        max-width: 31.25rem;
        max-height: 2.9375rem;
        height: 100%;
        align-items: center;

        & input {
          background-color: transparent;
          border: none;
          border-radius: 0;
          border-bottom: .5px solid #ffffff96;
          padding: 0 .325rem;
          height: 2.8125rem;
          width: 100%;
          caret-color: #FFFF;

          &::placeholder {
            color: #FFFF;
            font-family: var(--ff-secondary);
            font-size: 1.125rem;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

.register form .input-wrapper button {
  background-color: #FFAC00;
  border-radius: 1.5rem;
  padding: .75rem 1.125rem;
  height: 2.8125rem;
  width: 7.75rem;
  flex-shrink: 0;
  font-family: var(--ff-secondary);
}